body {
    font-family: 'NotoSansKR',sans-serif;
    font-weight: bold;
    font-size: 14px;
}

a {
    text-decoration: none;
}

h2 {
    font-size: 18px;
    font-weight: bold;
}

#job {
    font-size: 14px;
    /* width: 20%; */
}

label, span {
    font-weight: bold;
}

span {
    margin-left: 0.25rem;
}